*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
 }
 body{
    overflow-x: hidden;
 }
 h1{
     font-size: 4.8rem;
    }
h2{
       font-size: 2.6rem;
}
 h3{
    font-size: 3rem;
 }
 h4,h5{
    font-size: 2.8rem;
 }
 li,
 button,
 input,
 p{
    font-size: 2rem;
 }
 a{
    color: white;
    text-decoration: none;
 }

 /* blue button */
 #blue-button{
   background-color: var(--primary-light-blue);
   color: var(--secondary-white);
   display: flex;
   padding: 20px 40px;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   font-size: 2rem;
   font-weight: 500;
   line-height: 2.3rem;
   letter-spacing: -0.36px;
   border-radius: 0.8rem;
   max-width: fit-content;
   min-height: 6.3rem;
   margin-top: 6rem;
}
#blue-button svg{
   transform: translate(10px, 0px);
}
 :root{
    --primary-dark-blue: #043873;
    --primary-light-blue: #4f9cf9;
    --secondary-wheat: #ffe492;
    --secondary-light-blue: #a7cefc;
    --secondary-white: #ffffff;
    --secondary-black: #212529;

 }