/* Hero Section */
.hero-section{
    background: var(--primary-dark-blue);
    padding: 14rem 0;
    min-height: 90vh;
    

}
.background-pattern svg{
    position: absolute;
    transform: translate(-32px, 111px);
    width: 296.2rem;
    opacity: 0.6;
}
.hero-content{
    display: flex;
    width: 77vw;
    margin: auto;  
    column-gap: 6rem;
    animation: fade-in 600ms 0s ease-in;

}
.hero-section__text{
    color: var(--secondary-white);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    z-index: 10;
}
.hero-section__text h1{
    font-size: 8.4rem;
    font-weight: 700;
    letter-spacing: -1.28px;
}
.hero-section__text p{
    font-size: 2.56rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: -0.36px;
    margin-top: 2.4rem;
    width: 81rem;
}
.hero-section__text #try-button{
    max-width: 21.9rem;
    margin-top: 6rem;
    padding: 35px 20px;
    font-size: 2rem;
    
}
.hero-img__container{
    width: 98.7rem;
    height: 65.7rem;
    background: var(--secondary-light-blue);
    z-index: 10;  
}
/* Project section */

.project{
    width: 77vw;
    margin: auto;
    padding-top: 14rem;
}
.project-pattern svg{
    position: absolute;
    transform: translate(-265px, 49px);
}
.project-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    
}
.project-info{
    flex: 1 1 50rem;
}
.project-info h1{
    color: var(--secondary-black);
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    position: relative;
    z-index: 2;
    max-width: 20rem;
}
.project-info svg{
    transform: translate(-2px, -61px);
}
.project-info p{
    color: var(--secondary-black);
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.36px;
    max-width: 76rem;
    transform: translateY(-35px);
}
.project-info #project-button{
    background-color: var(--primary-light-blue);
    color: var(--secondary-white);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: -0.36px;
    border-radius: 0.8rem;
    max-width: 21.1rem;
    min-height: 6.1rem;
    margin-top: 6rem;
}
#project-button svg{
    transform: translate(10px, 0px);
}
.project-img__container{
    flex: 1 1 50rem;
    background-color: var(--secondary-light-blue);
    width: 74.8rem;
    height: 54.7rem;
}
/* Work togther section */
.work-together{
    width: 77vw;
    margin: auto;
    padding-top: 14rem;
}
.work-together__content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 11.4rem;
    
}
.work-together__info h1{
    color: var(--secondary-black);
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    position: relative;
    z-index: 2;
}
.work-together__info svg{
    transform: translate(55px, -59px) scale(0.6);
}
.work-together__info p{
    color: var(--secondary-black);
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.36px;
    max-width: 76rem;
    transform: translateY(-35px);
}
#work-together__button{
    background-color: var(--primary-light-blue);
    color: var(--secondary-white);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: -0.36px;
    border-radius: 0.8rem;
    max-width: 21.1rem;
    min-height: 6.1rem;
    margin-top: 6rem;
}
#work-together__button svg{
    transform: translate(10px, 0px);
}
/* Extension section */
.extension{
    margin-top: 14rem;
    padding: 14rem 0 14rem 0;
    background-color: var(--primary-dark-blue);
    color: var(--secondary-white);
}
.extension-content{
    width: 77vw;
    margin: auto;
    display: flex;
    gap: 10rem;
    align-items: center;
}
.extension-info h1{
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    position: relative;
    z-index: 2;
}
.extension-info p{
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.36px;
    max-width: 76rem;
    margin-top: 2.4rem;
}
.extension-info svg{
    transform: translate(17rem, -2.9rem) scale(.8);
}
.extension-img__container{
    background-color: var(--secondary-light-blue);
    width: 90rem;
    height: 54.7rem; 
}

/* Customize section */
.customize{
    height: 81.2rem;
    padding-top: 14rem;
}
.customize-content{
    width: 77vw;
    margin: auto;
    display: flex;
    align-items: center;
    column-gap: 10rem;

}
.customize-img__container{
    background: var(--secondary-light-blue);
    flex: 1 1 50rem;
    width: 74.8rem;
    height: 54.7rem; 
}
.customize-info{
    flex: 1 1 50rem;
}
.customize-info svg{
    transform: translate(-14px, -25px);
}

.customize-info h1{
    color: var(--secondary-black);
    position: relative;
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    max-width: 49rem;
    z-index: 2;
}
.customize-info p{
    color: var(--secondary-black);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.36px;
    margin-top: 2.4rem;
    max-width: 63rem;
}
#letsgo-button{
    background-color: var(--primary-light-blue);
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: -0.36px;
    border-radius: 0.8rem;
    max-width: 20rem;
    min-height: 6.3rem;
    margin-top: 6rem;
}
#letsgo-button svg{
    transform: translate(10px, 0px);
}
/* plans section */
.plan-section{
    width: 77vw;
    margin: 14rem auto 14rem auto;
}
.plan-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-info h1{
    color: var(--secondary-black);
    position: relative;
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    z-index: 2;
}
.plan-info svg{
    transform: translate(22rem, 2.3rem) scaleX(0.7);
    position: absolute;
}
.plan-info p{
    color: var(--secondary-black);
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.36px;
    margin-top: 2.4rem;
}
.plans{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}
.plan{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 47.2rem;
    max-height: fit-content;
    padding: 4rem 4.4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--secondary-wheat);
    background-color: var(--secondary-white);
}
.plan a{
    color: var(--secondary-black);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.32px;
    padding: 1.6rem 4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--secondary-wheat);
    background-color: var(--secondary-white);
    max-width: fit-content;
}
.plan-detail{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--secondary-black);
}
.plan-detail h2{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.6rem;
}
.plan-detail h1{
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: -0.72px;
}
.plan-detail h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.3rem; 
    letter-spacing: -0.36px;
}
.plan-features{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}
.plan-feature{
    display: flex;
    gap: 1.9rem;
}
.plan-feature h3{
    color: var(--secondary-black);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.32px;
}
#recommended-feature h3{
    font-size: 1.8rem;
}
#recommended-plan{
    background-color: var(--primary-dark-blue);
    padding-top: 8rem;
    padding-bottom: 8rem;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 1rem;
}
#recommended-feature h3,
#recommended-plan h3,
#recommended-plan h2{
    color: var(--secondary-white);
}
#recommended-plan  h1{
    color: var(--secondary-wheat);
}
#recommended-button{
    background: var(--primary-light-blue);
    color: var(--secondary-white);
    border: none;
}
/* portable section */

.portable{
    background-color: var(--primary-dark-blue);
    position:relative;
    padding: 14rem 0;
}
.portable-content{
    color: var(--secondary-white);
    width: 77vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portable-content h1{
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    position: relative;
    z-index: 2;
}
.portable-content svg{
    transform: translate(39rem,-1.8rem);
}
.portable-content p{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.36px;
    margin-top: 2.4rem;
    max-width: 106.4rem;
}
.portable-content a{
    margin-top: 6rem;
}
.portable-pattern{
    position: absolute;
    transform: translate(0rem, -30rem);
}
/* Data section */
.data-section{
    padding: 14rem 0;
}
.data-content{
    color: var(--secondary-black);
    width: 77vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-info{
    min-width: 75rem;
}
.data-info h1{
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    position: relative;
    z-index: 2;
}
.data-info p{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; 
    letter-spacing: -0.36px;
    max-width: 70rem;
}
.data-info svg{
    transform: translate(11rem, -6rem) scalex(0.75);
}
/* animation */
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Media queries */

/* Hero Section */
@media screen and ( max-width: 140rem){
    .hero-content{
        width: 95.4vw;
    }
    .background-pattern svg{
        max-width: 223rem;
    }
}
@media screen and ( max-width: 115.2rem){
    .hero-content{
        width: 90vw;
        justify-content: space-between;
    }
    .hero-section__text h1{
        width: 61rem;
    }
    .hero-section__text p{
        width: 74rem;
    }
    .hero-img__container{
        width: 65rem;
        height: 41.9rem;
    }
    .background-pattern svg{
        max-width: 148vw;
        transform: translate(0px, -25px);
    }
}
@media screen and ( max-width: 76.8rem){
    .hero-content{
        width: 95vw;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .hero-section__text{
        justify-content: center;
        align-items: center;
    }
    .hero-section__text p{
        margin-top: 2.4rem;
    }
    .hero-section__text #try-button{
        margin-top: 6rem;
        padding: 40px 60px;
        font-size: 2.3rem;
        max-width: max-content;

    }
    .hero-img__container{
        margin-top: 10rem;
        height: 43rem;
    }
    .background-pattern svg{
        max-width: 100dvw;
        transform: translate(-167px, 143px) skew(-32deg, 10deg) scale(2.6);
    }
}
@media screen and ( max-width: 32rem){
    .hero-content{
        width: 80vw;
    }
    .hero-section__text h1{
        width: 80vw;
        font-size: 5rem;  
    }
    .hero-section__text p{
        width: 80vw;
        font-size: 2.4rem;
        text-align: center;  
    }
    .hero-section__text #try-button{
        width: 80vw;
    }
    .hero-img__container{
        height: 25.3rem;
        
    }
    .background-pattern svg{
        max-width: 233vw;
        transform: translate(10px, -120px) scale(3.5);
    }
}
/* Project section */
@media screen and ( max-width: 140rem){
   .project{
    width: 95vw;
   }
   .project-content{
    justify-content: space-between;
   }
   .project-info{
    max-width: 76.1rem;
   }
   .project-info p{
    max-width: 65rem;

   }
   .project-img__container{
    max-width: 87.1rem;
    min-height: 53.7rem;
   }
   .project-pattern svg{
    transform: translate(-174px, -140px);
}
}
@media screen and ( max-width: 115.2rem){
    .project-content{
        justify-content: center;
    }
    .project-info{
        flex-shrink: 1;
        flex-grow: 1;
    }
    .project-img__container{
        flex-shrink: 0;
        flex-grow: 1;
    }
    .project-info p{
        max-width: 51rem;
       }
    .project-info h1{
        font-size: 6.4rem;
    }
    .project-pattern svg{
        transform: translate(-167px, -132px) scale(0.7) rotate(340deg);
    }
    .project-info svg{
        transform: scaleX(0.53) translate(-27px, -57px);
    }

}
@media screen and ( max-width: 76.8rem){
   .project-content{
    flex-wrap: wrap;
   }
   .project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .project-info p{
        max-width: 76rem;
        text-align: center;
   }
   .project-info h1{
    max-width: fit-content;
   }
   .project-img__container{
        width: 80vw;
        height: 349px;
    }
    .project-info svg{
        transform: scaleX(0.82) translate(238px,-57px);
    }
}
@media screen and ( max-width: 32rem){
    .project-info h1{
        max-width: 70vw;
        text-align: center;
        font-size: 4.2rem;  
    }
    .project-info p{
        max-width: 41rem;
        text-align: center;
    }
    .project-info svg{
        transform: scaleX(0.53) translate(103px, -53px);
    }
    .project-img__container{
        max-width: 85vw;
        min-height: 25.3rem;
        
    }
}
/* Work-together section */
@media screen and ( max-width: 140rem){
    .work-together{
        width: 95vw;
    }
    .work-together__content{
        justify-content: space-between;
    }
    .work-together_info{
        max-width: 76.1rem;
    }
    .work-together_info p{
        max-width: 65rem;
       }
    .work-img__container{
        max-width: 87.1rem;
        min-height: 53.7rem;
    }   
 }
 @media screen and ( max-width: 115.2rem){
   .work-img__container img{
       width: 600px;
    flex: 1 1 50rem;
}
   .work-together__info p{
        max-width: 59rem;
        flex: 1 1 50rem;
    }
    .work-together__info h1{
        font-size: 6.4rem;
    }

 
 }
 @media screen and ( max-width: 76.8rem){
    .work-together__content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content:space-around;
        text-align: center;
    }
    .work-together__info p {
        max-width: max-content;
    }
    .work-together__info h1{
        font-size: 5.2rem;
    }
    #work-together__button{
        margin-left: auto;
        margin-right: auto;
    }
    .work-together__info svg{
        transform: translate(104px, -56px) scaleX(0.4);
    }
    .work-img__container  img{
        padding-top: 10rem;
        max-width: 540px;
    }
 }
 @media screen and ( max-width: 32rem){
    .work-together_info p{
        max-width: 30rem;
        margin: auto;
    }
    .work-img__container img{
        width: 320px;
    }
 }
 /* Extension section */
 @media screen and ( max-width: 140rem){
    .extension-content{
         width: 95vw;
         justify-content: space-between;
     }
     .extension-info{
         max-width: 76.1rem;
     }
     .extension-img__container{
         max-width: 87.1rem;
         min-height: 53.7rem;
     }
  }
  @media screen and ( max-width: 115.2rem){
 
      .extension-info{
          flex-shrink: 1;
          flex-grow: 1;
      }
      .extension-img__container{
          flex-shrink: 0;
          flex-grow: 1;
      }
      .extension-info p{
          max-width: 51rem;
         }
      .extension-info h1{
          font-size: 6.4rem;
      }
      .extension-info svg{
         transform: scaleX(0.7) translate(18rem, -2rem);
      }
  
  }
  @media screen and ( max-width: 76.8rem){
     .extension-content{
      flex-wrap: wrap;
      justify-content: center;
     }
     .extension-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
     }
     .extension-info p{
          max-width: max-content;
          text-align: center;
     }
     .extension-info h1{
         font-size: 5.4rem;
      max-width: fit-content;
     }
     .extension-img__container{
          max-width: 80vw;
          height: 349px;
      }
      .extension-info svg{
         transform: scaleX(0.58) translate(18rem, -1.7rem);
      }
  }
  @media screen and ( max-width: 32rem){ 
      .extension-info{
         text-align: center;
      }
     .extension-info h1{
          min-width: fit-content;
          font-size: 4.2rem;  
      }
      .extension-info p{
          min-width: fit-content;
      }
      .extension-info svg{
        transform: scaleX(0.39) translate(178px, -17px);
      }
      .extension-img__container{
          max-width: 85vw;
          min-height: 25.3rem;
          
      }
  }

  /* Customize section */
  @media screen and ( max-width: 140rem){
    .customize-content{
        width: 95vw;
        gap: 6rem;
        justify-content: space-between;
    }
    .customize-info{
        max-width: 76.1rem;
       
    }
    .customize-info h1{
        max-width: 60rem;
    }
    .customize-img__container{
        max-width: 87.1rem;
        min-height: 53.7rem;
    }
 }
 @media screen and ( max-width: 115.2rem){
    .customize-content{
        justify-content: space-between;
    }
     .customize-info{
        max-width: 60rem;
         flex-shrink: 1;
         flex-grow: 1;
     }
     .customize-img__container{
         flex-shrink: 0;
         flex-grow: 1;
     }
     .customize-info p{
         max-width: 51rem;
        }
     .customize-info h1{
         font-size: 6.4rem;
         max-width: 58rem;
     }
     .customize-info svg{
        transform: scaleX(0.7) translate(-10rem, -2rem);
     }
 
 }
 @media screen and ( max-width: 76.8rem){
    .customize-content{
     flex-wrap: wrap;
     justify-content: center;
    }
    .customize-info{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
    }
    .customize-info p{
         max-width: max-content;
         text-align: center;
    }
    .customize-info h1{
        font-size: 5.4rem;
        min-width: max-content;
    }
    .customize-img__container{
        max-width: 50vw;
        height: 240px;
     }
     .customize-info svg{
        transform: scaleX(0.58) translate(18rem, -1.9rem);
     }
 }
 @media screen and ( max-width: 32rem){
     .customize-info{
        text-align: center;
     }
    .customize-info h1{
         min-width: fit-content;
         font-size: 4.2rem;  
     }
     .customize-info p{
         min-width: fit-content;

     }
     .customize-info svg{
        transform: scaleX(0.3) translate(35px, -18px);
     }
     .customize-img__container{
         max-width: 85vw;
         min-height: 25.3rem;
         
     }
 }
 /* Plans section */
@media screen and ( max-width: 140rem){
    .plan-section{
     width: 95vw;
    }
 }
 @media screen and ( max-width: 115.2rem){
     .plan-info h1{
        font-size: 6.4rem;
     }
 }
 @media screen and ( max-width: 76.8rem){
    .plan-section{
        margin-top: 36rem;
    }
    .plan-info{
        text-align: center;
    }
 }
 @media screen and ( max-width: 32rem){
    .plan-info h1{
        font-size: 4.6rem;
    }
    .plan-info svg{
        transform: translate(15rem, 0rem) scaleX(0.5);
    }
 }
 /* Portable SEction */
 @media screen and ( max-width: 140rem){
    .portable-content{
        width: 95vw;
    }
    .portable-pattern{
        transform: translate(-10rem, -30rem);
    }
 }
 @media screen and ( max-width: 115.2rem){
   .portable-pattern{
    display: none;
   }
   .portable-content{
    align-items: flex-start;
}
    .portable-content p{
    text-align: left;
    max-width: 60rem;
   }
   .portable-content h1{
        max-width: 120rem;
   }
   .portable-content svg{
    transform: translate(72rem, -1.8rem);
   }

 }
 @media screen and ( max-width: 76.8rem){
    .portable-pattern{
        display: block;
        opacity: 0.7;
        transform: translate(-15rem, -25.8rem) scale(0.9);

    }
    .portable-content h1{
        max-width: 70rem;
    }
    .portable-content svg{
    transform: translate(-1rem, -1.8rem);
        
    }
 }
 @media screen and ( max-width: 32rem){
   .portable-pattern{
        display: none;
   }
 }
 /* Data section */
 @media screen and ( max-width: 140rem){
    .data-content{
        width: 95vw;
    }
    .data-img__container{
        transform: scale(0.8);
    }
 }
 @media screen and ( max-width: 115.2rem){
    .data-info h1{
        font-size: 6.4rem;
    }
    .data-info p{
        max-width: 65rem;
    }
    .data-info{
        margin-left: 20rem;
    }

 }
 @media screen and ( max-width: 76.8rem){
     .data-content{
        flex-direction: column-reverse;
        align-items: center;
     }
     .data-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10rem 0 0 0;
     }
     .data-info h1{
        font-size: 5.4rem;
     }
     .data-info p{
        max-width: 90vw;
     }
     .data-img__container{
        transform: scale(0.8);
     }
     
    }
    @media screen and ( max-width: 32rem){
        .data-info h1{
            font-size: 3.6rem;
        }
        .data-img__container{
           transform: scale(0.5);
        }
        .data-info p{
            max-width: 90vw;
        }
 }