/* Hero Section */
.hero-section{
    background: var(--primary-dark-blue);
    padding: 14rem 0;
    min-height: 90vh;
    

}
.background-pattern svg{
    position: absolute;
    transform: translate(-32px, 111px);
    width: 296.2rem;
    opacity: 0.6;
}
.hero-content{
    display: flex;
    width: 77vw;
    margin: auto;  
    column-gap: 6rem;
    animation: fade-in 600ms 0s ease-in;

}
.hero-section__text{
    color: var(--secondary-white);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    z-index: 10;
}
.hero-section__text h1{
    font-size: 8.4rem;
    font-weight: 700;
    letter-spacing: -1.28px;
}
.hero-section__text p{
    font-size: 2.56rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: -0.36px;
    margin-top: 2.4rem;
    width: 81rem;
}
.hero-section__text #try-button{
    max-width: 21.9rem;
    margin-top: 6rem;
    padding: 35px 20px;
    font-size: 2rem;
    
}
.hero-img__container{
    width: 98.7rem;
    height: 65.7rem;
    background: var(--secondary-light-blue);
    z-index: 10;  
}



/* Customize section */
.customize{
    width: 77vw;
    height: 81.2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10rem;
}
.customize-img__container{
    background: var(--secondary-light-blue);
    width: 71.4rem;
    height: 53.2rem;
    flex: 2 1 50rem;
}
.customize-info{
    flex: 2 1 50rem;
}
.customize-info svg{
    transform: translate(-14px, -25px);
}

.customize-info h1{
    color: var(--secondary-black);
    position: relative;
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -1.44px;
    max-width: 49rem;
    z-index: 2;
}
.customize-info p{
    color: var(--secondary-black);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.36px;
    margin-top: 2.4rem;
    max-width: 63rem;
}
#letsgo-button{
    background-color: var(--primary-light-blue);
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: -0.36px;
    border-radius: 0.8rem;
    max-width: 20rem;
    min-height: 6.3rem;
    margin-top: 6rem;
}

/* animation */
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Media queries */
/* Hero Section */
@media screen and ( max-width: 140rem){
    .hero-content{
        width: 95.4vw;
    }
    .background-pattern svg{
        max-width: 223rem;
    }
}
@media screen and ( max-width: 115.2rem){
    .hero-content{
        width: 90vw;
        justify-content: space-between;
    }
    .hero-section__text h1{
        width: 61rem;
    }
    .hero-section__text p{
        width: 74rem;
    }
    .hero-img__container{
        width: 65rem;
        height: 41.9rem;
    }
    .background-pattern svg{
        max-width: 148vw;
        transform: translate(0px, -25px);
    }
}
@media screen and ( max-width: 76.8rem){
    .hero-content{
        width: 95vw;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .hero-section__text{
        justify-content: center;
        align-items: center;
    }
    .hero-section__text p{
        margin-top: 2.4rem;
    }
    .hero-section__text #try-button{
        margin-top: 6rem;
        padding: 40px 60px;
        font-size: 2.3rem;
        max-width: max-content;

    }
    .hero-img__container{
        margin-top: 10rem;
        height: 43rem;
    }
    .background-pattern svg{
        max-width: 100dvw;
        transform: translate(-167px, 143px) skew(-32deg, 10deg) scale(2.6);
    }
}
@media screen and ( max-width: 32rem){
    .hero-content{
        width: 80vw;
    }
    .hero-section__text h1{
        width: 80vw;
        font-size: 5rem;  
    }
    .hero-section__text p{
        width: 80vw;
        font-size: 2.4rem;
        text-align: center;  
    }
    .hero-section__text #try-button{
        width: 80vw;
    }
    .hero-img__container{
        height: 25.3rem;
        
    }
    .background-pattern svg{
        max-width: 233vw;
        transform: translate(10px, -120px) scale(3.5);
    }
}

