@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* header and nav */
.main-header{
    min-height: 10vh;
    display: flex;
    background-color: var(--primary-dark-blue);
    position: sticky;
    top: 0;
    z-index: 20;
}
.main-nav{
    display: flex;
    width: 77vw;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 1.6rem 0;
    position: relative;
}
.logo-white{
    flex: 1 1 30rem;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    color: var(--secondary-white);
    font-size: 2.8rem;
    font-weight: 700;
    cursor: pointer;

}
.main-nav__items{
    flex: 3 1 30rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 3.2rem;
    margin-right: 7.5rem;
}
.main-nav__item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.main-nav__item a{
    font-family: "DM Sans";
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.3rem;
}
.main-nav__cta{
    flex: 1 1 10rem;
}
.main-nav__cta{
    display: flex;
    column-gap: 2.4rem;
}
.main-nav__cta #login{
    background-color: var(--secondary-wheat);
    color: var(--primary-dark-blue);
    padding: 1.6rem 4rem;
    border-radius: 0.8rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: -0.36px;
    max-height: 6rem;
}
#try-button{
    background-color: var(--primary-light-blue);
    color: var(--secondary-white);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1.6rem 2.4rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: -0.36px;
    max-height: 6rem;
    min-width: 28rem;
    border-radius: 0.8rem;
    justify-content: center;
}
.toggle-btn{
    display: none;
}

/* Media queries */
@media screen and ( max-width: 140rem){
    .main-nav{
        width: 95.4vw;
    }
}
@media screen and ( max-width: 115.2rem){
    .main-nav__items{
        display: none;
    }
    .main-nav__cta{
        justify-content: flex-end;
    }
    .toggle-btn{
        display: block;
        margin-left: 2rem;
        
    }
}
@media screen and ( max-width: 76.8rem){
    .main-nav{
        padding: 3.3rem 0;
    }
    .main-nav__cta{
        display: none;
    }
}
@media screen and ( max-width: 32rem){

}

